<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission To Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
    <div class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    
    <!-- News Section -->

    <h3>Latest Mars News</h3>
    <h6><b>{{ listings.newsTitle }}</b></h6>
    <p><i><small>{{ listings.newsTeaser }}</small></i></p>
    <br>


    <!-- Featured Section -->

<div class="row">
    <div class="col-md-8">
        <h4>Featured Mars Image</h4>
            <img src="{{ listings.featuredImage }}" width="600" height="500" alt="Mars Featured Image">
    </div>

<!-- Twitter -->
    <div class="col-md-4">  
        <div class="row">
            <div class="col-md-12">
                <h4>Mars Twitter</h4>
                    <p><small>{{ listings.tweet }}</small></p>
            
            </div>
        </div>


<!-- Mars Facts -->
        <div class="row">
            <div class="col-md-12">
                <h4>Mars Facts</h4>
                    <small>{{listings.table|safe}}
                    <a href="{{listings.table}}"></a></small>
            </div>
        </div>
    </div>
</div>
    

    <!-- Hemisphere URLs -->



<div class="row" style="margin-top:80px;"></div>
    <h4>Mars Hemispheres</h4>
    <div class="col-md-6">
            <div class="row" class="text-center">
        {% for url in listings.hemURLs %}
            <div class="col-md-6" class="text-center">
            <p>{{url.title}}</p>
            <img src="{{url.img_url}}" width="200" height="200">
            </div>
        {% endfor %}
    </div>
</div>





</body>
</html>